<div class="container">
	<a href="index.html" class="header-main__logo logo--native" title="Efekt - Przejdź do strony głównej"><img src="img/logo/logo_efekt_meble.svg" class="img-fluid" alt=""></a>
	<a href="index.html" class="header-main__logo logo--white" title="Efekt - Przejdź do strony głównej"><img src="img/logo/logo_efekt_meble_white.svg" class="img-fluid" alt=""></a>
	<button type="button" class="header-main__btn-nav nav-open"><span class="icon icon-menu"></span></button>
	<button type="button" class="header-main__btn-nav nav-close"><span class="icon icon-close"></span></button>
	<div class="header-main__socials">
		<a href="#"><span class="icon icon-043-facebook-1"></span></a>
		<a href="#"><span class="icon icon-035-google-plus"></span></a>
	</div>
	<nav class="header-main__nav">
		<ul class="header-main__nav__list">
			<li class="active"><a href="#">O firmie</a></li>
			<li><a href="oferta.html">Oferta</a></li>
			<li><a href="ergonomia.html">Ergonomia</a></li>
			<li><a href="architekt.html">Dla architekta</a></li>
			<li><a href="architekt-wnetrz.html">Aranżacje</a></li>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="wycena.html">Bezpłatna wycena</a></li>
			<li><a href="Kontakt.html">Kontakt</a></li>
			<li class="lang-link"><a href="#"><span class="desktop-link">En</span><span class="mobile-link">Angielski</span></a></li>
		</ul>
	</nav>
	<a href="#" class="nav__list--odd">Sklep</a>
</div>