    <!-- build:js js/scripts.min.js -->
    <script type="text/javascript" src="js/vendor/jquery-1.11.2.min.js"></script>
    <!--  <script src="js/vendor/popper.min.js"></script> -->
    <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/sliders.js"></script>
    <script src="js/photoswipe.min.js"></script> 
    <script src="js/photoswipe-ui-default.min.js"></script> 
    <script src="js/jqPhotoSwipe.min.js"></script> 
    <script src="js/aos.min.js"></script>
    <!-- endbuild -->
    <!-- build:js js/plugins.min.js -->
    <script type="text/javascript" src="js/main.js"></script>
    <!-- endbuild -->

    <script>
        AOS.init({
             offset: 80, 
             delay: 400,
             duration: 600,
             once: true,
             disable:'mobile',
             
        });
    </script>