<!doctype html>
<html class="no-js" lang="pl">

    <!-- partial:views/_head.html -->
    <!-- partial -->

    <body>

            <header class="header-main fixed-top">
                <!-- partial:views/_header.html -->
                <!-- partial -->
            </header>

            <main class="main pt-0">
                <section class="section-default section-entry-main section-entry-main--realization">
                    <div class="container"> 
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-6" data-aos="fade-up" data-aos-delay="200">
                                <header class="section-entry-main__header">
                                    <h1 class="entry-heading">Ergonomia</h1>
                                    <p class="text-section">Schorzenia kręgosłupa dotykają ogromnej części naszego społeczeństwa. W związku z tym, wybierając fotele czy krzesła obrotowe do pracy, należy zwracać uwagę nie tylko na wygodę, ale także na ergonomię. W naszym sklepie internetowym znajdziecie Państwo szereg siedzisk do biur i szkół, które pomogą zwalczyć bóle pleców.</p>
                                    <p class="text-section">Dzięki innowacyjnym rozwiązaniom, oferowane fotele cieszą się ogromną popularnością wśród przedsiębiorców poszukujących idealnych mebli do biura. Co więcej, proponowane przez nas ergonomiczne krzesła spełniają najwyższe standardy. Dlatego też, są najlepszym rozwiązaniem dla właścicieli nowoczesnych placówek przedszkolnych i szkolnych.</p>
                                </header>
                            </div>
                            <div class="col-12 col-sm-6 col-md-5 offset-md-1 pr-lg-0" data-aos="fade-up" data-aos-delay="300">
                                <div class="section-text-col offset-col-top">
                                    <p class="small-block-heading">Schorzenia kręgosłupa dotykają ogromnej część naszego społeczeństwa, dlatego warto wybierać meble oraz fotele czy krzesła ergonomiczne</p>
                                </div>
                            </div>
                            <div class="col-12" data-aos="fade-up" data-aos-delay="400">
                                <span class="arrow-link"><span class="icon icon-next"></span></span>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-default section-img-skew section-img-skew--offset" data-aos="fade-up" data-aos-delay="200">
                    <div class="container">
                        <figure class="section-img-skew-left">
                            <div style="background-image: url('img/ergonomics-at-work.jpeg');"></div>
                        </figure>
                        <figure class="section-img-skew-right">
                            <div style="background-image: url('img/ergonomics-at-school-two.jpeg');"></div>
                        </figure>
                    </div>
                </section>
                <section class="section-default section-col-with-txt section-col-with-txt--offset">
                    <div class="container">
                        <div class="row">
                            <!-- section seperator -->
                            <div class="col-12 col-sm-6 col-md-5" data-aos="fade-up" data-aos-delay="200">
                                <div class="section-col-with-txt__content">
                                    <h2 class="section-heading">Ergonomia w pracy</h2>
                                    <p class="text-section">Chyba każdy marzy o tym, aby po pracy nie czuć bólu pleców. Dla osób, które miewają problemy z kręgosłupem, polecamy zakup ergonomicznych foteli biurowych.</p>
                                    <a href="ergonomia-praca.html" class="btn-main btn-main--outline btn-main--icon-right">Dowiedź się więcej <span class="icon icon-next"></span></a>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-5 offset-md-2 offset-col--small" data-aos="fade-up" data-aos-delay="300">
                                <div class="section-col-with-txt__content">
                                    <h2 class="section-heading">Ergonomia w szkole</h2>
                                    <p class="text-section">Dzieci są niezwykle podatne na zwyrodnienia kręgosłupa. Dlatego też, należy zwracać uwagę na o w jakiej pozycji spędzają czas. W naszym sklepie internetowym znajdziecie Państwo ergonomiczne fotele, które idealnie podeprą kręgosłup dziecka podczas odrabiania lekcji</p>
                                    <a href="ergonomia-szkola.html" class="btn-main btn-main--outline btn-main--icon-right">Dowiedź się więcej <span class="icon icon-next"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section seperator -->
                <div class="container" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
                <aside class="section-default aside-offer" data-aos="fade-up" data-aos-delay="200">
                    <div class="container">
                        <div class="aside-offer__content">
                            <h3 class="small-section-heading">Zamów EFEKTowne meble<br> do Twojego biura</h3>
                            <a href="oferta.html" class="btn-main btn-main--icon-right">Przejdź do oferty<span class="icon icon-next"></span></a>
                        </div>
                    </div>
                </aside>
                <!-- section seperator -->
                <div class="container d-none-lg" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
            </main>
            
            <footer class="footer-main">
                <!-- partial:views/_footer.html -->
                <!-- partial -->
            </footer>
 

        <!-- partial:views/_scripts.html -->
        <!-- partial -->

    </body>
</html>
