<!doctype html>
<html class="no-js" lang="pl">

    <!-- partial:views/_head.html -->
    <!-- partial -->

    <body>

            <header class="header-main fixed-top">
                <!-- partial:views/_header.html -->
                <!-- partial -->
            </header>

            <main class="main pt-0">
                <section class="section-default section-entry-main section-entry-main--ergonomics">
                    <div class="container"> 
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-6" data-aos="fade-up" data-aos-delay="200">
                                <header class="section-entry-main__header">
                                    <h1 class="entry-heading">Ergonomia w szkole</h1>
                                    <p class="text-section">Dzieci są niezwykle podatne na zwyrodnienia kręgosłupa. Dlatego też, należy zwracać uwagę na o w jakiej pozycji spędzają czas. W naszym sklepie internetowym znajdziecie Państwo ergonomiczne fotele, które idealnie podeprą kręgosłup dziecka podczas odrabiania lekcji. Co więcej, od lat specjalizujemy się także w sprzedaży wygodnych krzeseł oraz stolików do szkół i przedszkoli. Dlaczego warto się na nie zdecydować?<p>
                                   
                                </header>
                            </div>
                            <div class="col-12 col-sm-6 col-md-5 offset-md-1 pr-lg-0" data-aos="fade-up" data-aos-delay="300">
                                <div class="section-text-col offset-col-top">
                                    <p class="small-block-heading">Młode osoby są niezwykle podatne na zwyrodnienia kręgosłupa, dlatego należy zwracać szczególną uwagę wybierając fotele i krzesła</p>
                                </div>
                            </div>
                            <div class="col-12" data-aos="fade-up" data-aos-delay="400">
                                <span class="arrow-link"><span class="icon icon-next"></span></span>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-default section-img-skew" data-aos="fade-up" data-aos-delay="200">
                    <div class="container">
                        <figure class="section-img-skew-left">
                            <div style="background-image: url('img/ergonomics-at-school.jpeg');"></div>
                        </figure>
                        <figure class="section-img-skew-right">
                            <div style="background-image: url('img/ergonomics-at-school-two.jpeg');"></div>
                        </figure>
                    </div>
                </section>
                <section class="section-default section-col-with-txt section-col-with-txt--offer section-col-with-txt--ergonomics">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-5" data-aos="fade-up" data-aos-delay="200">
                                <div class="section-col-with-txt__content">
                                    <h2 class="section-heading">Ergonomiczny kształt mebli</h2>
                                    <p class="text-section text-section--large">Podczas zakupu mebli do szkoły czy przedszkola warto zwracać uwagę na ich kształt. Wiele przepisów i norm prawnych wskazuje, jak powinny wyglądać meble przeznaczone do użytku w placówkach oświaty.</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-5 offset-md-2 offset-no-heading" data-aos="fade-up" data-aos-delay="300">
                                <div class="section-col-with-txt__content">
                                    <p class="text-section">Oferowane przez nas ergonomiczne stoliki i krzesła zostały zaprojektowane przez profesjonalistów. W związku z tym, meble spełniają najwyższe standardy. Co ważne, podczas produkcji krzeseł, doświadczeni pracownicy zwracają uwagę nawet na najmniejsze szczegóły. Dzięki temu, siedziska są bardzo wygodne i wytrzymałe.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section seperator -->
                <div class="container" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
                <section class="section-default section-col-with-txt section-col-with-txt--offer  section-col-with-txt--ergonomics">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-5" data-aos="fade-up" data-aos-delay="200">
                                <div class="section-col-with-txt__content">
                                    <h2 class="section-heading">Wyjątkowe rozwiązania</h2>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-5 offset-md-2" data-aos="fade-up" data-aos-delay="300">
                                <div class="section-col-with-txt__content">
                                    <p class="text-section">Dostępne w naszym sklepie ergonomiczne meble szkolne zostały zaprojektowane z myślą o wygodzie i zdrowiu najmłodszych. Prezentowane stoliki posiadają możliwość regulacji wysokości, dzięki czemu można dostosować je do wzrostu ucznia. Ponadto, w naszej ofercie znajda Państwo także regulowane krzesła. Aby placówki edukacyjne wyglądały bardziej przyjaźnie, stworzyliśmy także serie krzeseł w pastelowych kolorach, które z pewnością przypadną do gustu niejednego dziecka.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section seperator -->
                <div class="container" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
                <section class="section-default section-slider-product" data-aos="fade-up" data-aos-delay="200">
                    <div class="container">
                        <header class="section-default-header">
                            <h2 class="section-heading-large">Ergonomiczne produkty z naszego sklepu</h2>
                            <a href="ofirmie.html" class="text-link text-link-icon--right">Zobacz wszystkie <span class="icon icon-next"></span></a>
                        </header>
                        <div class="owl-carousel sliderJS-product">
                            <div class="item">
                                <div class="section-slider-product__item">
                                   <figure class="section-slider-product__item__img">
                                       <img src="img/products/furniture-kids/1.png" class="img-fluid" alt="">
                                   </figure>                                 
                                    <h3 class="section-slider-product__item__title">MATRIX krzesło obrotowe czarny/zielony</h3>                  
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-product__item">
                                   <figure class="section-slider-product__item__img">
                                       <img src="img/products/furniture-kids/2.png" class="img-fluid" alt="">
                                   </figure>                                   
                                    <h3 class="section-slider-product__item__title">COCO 4 fotel niebieski</h3>
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-product__item">
                                   <figure class="section-slider-product__item__img">
                                       <img src="img/products/furniture-kids/3.png" class="img-fluid" alt="">
                                   </figure> 
                                    <h3 class="section-slider-product__item__title">COCO 4 fotel niebieski</h3>
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-product__item">
                                   <figure class="section-slider-product__item__img">
                                       <img src="img/products/furniture-kids/4.png" class="img-fluid" alt="">
                                   </figure> 
                                   <h3 class="section-slider-product__item__title">IBIS fotel wielobarwny - paris</h3>
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-product__item">
                                   <figure class="section-slider-product__item__img">
                                       <img src="img/products/furniture-kids/1.png" class="img-fluid" alt="">
                                   </figure>
                                   <h3 class="section-slider-product__item__title">Biurko PACO niebiesko białe</h3>
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-product__item">
                                   <figure class="section-slider-product__item__img">
                                       <img src="img/products/furniture-kids/1.png" class="img-fluid" alt="">
                                   </figure>                                 
                                    <h3 class="section-slider-product__item__title">Fotel Biurowy Obrotowy EF-KB8922BS czarny - podstawa z polerowanego aluminium</h3>                  
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-product__item">
                                   <figure class="section-slider-product__item__img">
                                       <img src="img/products/furniture-kids/2.png" class="img-fluid" alt="">
                                   </figure>                                   
                                    <h3 class="section-slider-product__item__title">COCO 4 fotel niebieski</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section seperator -->
                <div class="container" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
                <aside class="section-default aside-offer" data-aos="fade-up" data-aos-delay="200">
                    <div class="container">
                        <div class="aside-offer__content">
                            <h3 class="small-section-heading">Zamów EFEKTowne meble<br> do Twojego biura</h3>
                            <a href="oferta.html" class="btn-main btn-main--icon-right">Przejdź do oferty<span class="icon icon-next"></span></a>
                        </div>
                    </div>
                </aside>
                <!-- section seperator -->
                <div class="container d-none-lg" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
            </main>
            
            <footer class="footer-main">
                <!-- partial:views/_footer.html -->
                <!-- partial -->
            </footer>
 

        <!-- partial:views/_scripts.html -->
        <!-- partial -->

    </body>
</html>
