<!doctype html>
<html class="no-js" lang="pl">

    <!-- partial:views/_head.html -->
    <!-- partial -->

    <body>

            <header class="header-main fixed-top">
                <!-- partial:views/_header.html -->
                <!-- partial -->
            </header>

            <main class="main">
                <section class="section-default section-entry">
                    <div class="container" data-aos="fade-up" data-aos-delay="200">
                        <h1 class="large-heading">Łączą nas EFEKTowne<br> meble z klasą</h1>
                        <small class="entry-small-text">Gwarantujemy 100% jakości - od projektu, po<br> wykonanie i montaż</small>
                       <span class="arrow-link"><span class="icon icon-next"></span></span>
                    </div>
                </section>
                <section class="section-default section-entry-offer opacity-0" id="offer-section" data-aos="fade-up" data-aos-delay="300">
                    <div class="section-entry-offer__content owl-carousel sliderJS-offer">
                        <a href="#" class="section-entry-offer__content__item t-left">
                            <div class="sketch-line"></div>
                            <figure class="section-entry-offer__content__item__img" style="background-image:url('img/offer/furniture-reception.jpg');"></figure>
                            <h2 class="section-entry-offer__content__item__title">Meble recepcyjne</h2>
                            <p>Oferujemy wygodne i trwałe fotele gabinetowe czy krzesła do sal konferencyjnych i holów</p>
                            <span class="text-link text-link-icon--right link-lg-hidden">Szczegóły<span class="icon icon-next"></span></span>
                         </a>
                         <a href="#" class="section-entry-offer__content__item t-center">
                            <figure class="section-entry-offer__content__item__img" style="background-image:url('img/offer/furniture-office.jpg');"></figure>
                            <h2 class="section-entry-offer__content__item__title title--large">Meble biurowe</h2>
                            <span class="text-link text-link-icon--right">Szczegóły<span class="icon icon-next"></span></span>
                         </a>
                         <a href="#" class="section-entry-offer__content__item t-right">
                            <div class="sketch-line"></div>
                            <figure class="section-entry-offer__content__item__img" style="background-image:url('img/offer/furniture-school.jpeg');"></figure>
                            <h2 class="section-entry-offer__content__item__title">Meble szkolne i przedszkolne</h2>
                            <p>Zadbamy o kompleksowe wyposażenie biura każdego typu. Oferujemy meble call center, boksy biurowe oraz luksusowe meble do gabinetów.</p>
                            <span class="text-link text-link-icon--right link-lg-hidden">Szczegóły<span class="icon icon-next"></span></span>
                         </a>
                         <a href="#" class="section-entry-offer__content__item t-left">
                            <div class="sketch-line"></div>
                            <figure class="section-entry-offer__content__item__img" style="background-image:url('img/offer/furniture-conference.jpg');"></figure>
                            <h2 class="section-entry-offer__content__item__title">Meble konferencyjne</h2>
                            <p>Oferujemy wygodne i trwałe fotele gabinetowe czy krzesła do sal konferencyjnych i holów</p>
                            <span class="text-link text-link-icon--right link-lg-hidden">Szczegóły<span class="icon icon-next"></span></span>
                         </a>
                         <a href="#" class="section-entry-offer__content__item t-center">
                            <figure class="section-entry-offer__content__item__img" style="background-image:url('img/offer/office-chair.jpg');"></figure>
                            <h2 class="section-entry-offer__content__item__title">Fotele biurowe</h2>
                            <p>Zadbamy o kompleksowe wyposażenie biura każdego typu. Oferujemy meble call center, boksy biurowe oraz luksusowe meble do gabinetów.</p>
                            <span class="text-link text-link-icon--right link-lg-hidden">Szczegóły<span class="icon icon-next"></span></span>
                         </a>
                         <a href="#" class="section-entry-offer__content__item t-right">
                             <div class="sketch-line"></div>
                            <figure class="section-entry-offer__content__item__img"  style="background-image:url('img/offer/furniture-court.jpeg');"></figure>
                            <h2 class="section-entry-offer__content__item__title">Meble sadowe</h2>
                            <p>Zadbamy o kompleksowe wyposażenie biura każdego typu. Oferujemy meble call center, boksy biurowe oraz luksusowe meble do gabinetów.</p>
                            <span class="text-link text-link-icon--right link-lg-hidden">Szczegóły<span class="icon icon-next"></span></span>
                         </a>
                    </div>
                </section>
                <section class="section-default section-counter">
                    <div class="container">
                        <header class="section-default-header" data-aos="fade-up" data-aos-delay="200">
                            <h2 class="section-heading-large">Nasza firma</h2>
                            <a href="ofirmie.html" class="text-link text-link-icon--right">poznaj EFEKT MEBLE <span class="icon icon-next"></span></a>
                        </header>
                        <div class="row" id="counterJs">
                            <div class="col-6 col-sm-6 col-md-3" data-aos="fade-up" data-aos-delay="300"> 
                                <div class="section-counter__item">
                                    <span class="number counter-item" data-count="13"></span>
                                    <p>lat doświadczenia<br> w dystrybucji i sprzedaży<br> mebli oraz foteli</p>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-3" data-aos="fade-up" data-aos-delay="400">
                                <div class="section-counter__item">
                                    <span class="number counter-item" data-count="5"></span>
                                    <p>lat gwarancji na nasze<br> produkty i usługi</p>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-3" data-aos="fade-up" data-aos-delay="500">
                                <div class="section-counter__item">
                                    <span class="number counter-item" data-count="1340"></span>
                                    <p>Najlepszych mebli i wyposażenia<br> w naszym sklepie</p>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-3" data-aos="fade-up" data-aos-delay="600">
                                <div class="section-counter__item">
                                    <span class="number counter-item" data-count="22"></span>
                                    <p>Wykwalifikowanych i<br> doświadczonych pracowników<br> służących Państwu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section seperator -->
                <div class="container" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
                <section class="section-default section-slider-logo" data-aos="fade-up" data-aos-delay="200">
                    <div class="container">
                        <header class="section-default-header">
                            <h2 class="section-heading-large">Zaufali nam</h2>
                        </header>
                        <div class="section-slider-logo__content owl-carousel sliderLogo">
                            <div class="item">
                                <div class="section-slider-logo__item">
                                    <figure><img src="img/client_logo/pip.png" class="img-fluid" alt=""></figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-logo__item">
                                    <figure><img src="img/client_logo/Polish_police_logo.svg" class="img-fluid" alt=""></figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-logo__item">
                                    <figure><img src="img/client_logo/logo_ms.png" class="img-fluid" alt=""></figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-logo__item">
                                    <figure><img src="img/client_logo/logo-compensa.png" class="img-fluid" alt=""></figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-logo__item">
                                    <figure><img src="img/client_logo/Media-Markt-logo-color.png" class="img-fluid" alt=""></figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-logo__item">
                                    <figure><img src="img/client_logo/elektotim_ofc_luki.png" class="img-fluid" alt=""></figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-logo__item">
                                    <figure><img src="img/client_logo/logo-mercure.png" class="img-fluid" alt=""></figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-logo__item">
                                    <figure><img src="img/client_logo/Koleje_Mazowieckie-logo.svg" class="img-fluid" alt=""></figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-logo__item">
                                    <figure><img src="img/client_logo/logo_kmpsp.png" class="img-fluid" alt=""></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section seperator -->
                <div class="container" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line d-none-md">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
                <section class="section-default section-slider-blog" data-aos="fade-up" data-aos-delay="200">
                    <div class="container container-no-p">
                        <header class="section-default-header">
                            <h2 class="section-heading">Najnowsze wpisy</h2>
                        </header>
                        <div class="row owl-carousel sliderJS-blog">
                            <div class="col-12 col-md-4">
                                <a href="post.html" class="section-slider-blog__item">
                                   <figure class="section-slider-blog__item__img" style="background-image: url('img/blog/ergonomisc-at-workplace.jpeg');"></figure> 
                                   <div class="section-slider-blog__item__content">
                                       <time>11.11.2018</time>
                                       <h3 class="section-slider-blog__item__content__title">Ergonomia na stanowisku pracy – poznaj podstawowe zasady</h3>
                                       <span class="text-link">Więcej<span class="icon icon-next"></span></span>
                                   </div>
                                </a>
                            </div>
                            <div class="col-12 col-md-4">
                                <a href="post.html" class="section-slider-blog__item">
                                   <figure class="section-slider-blog__item__img" style="background-image: url('img/blog/our-achievements-two.jpeg');"></figure> 
                                   <div class="section-slider-blog__item__content">
                                       <time>11.11.2018</time>
                                       <h3 class="section-slider-blog__item__content__title">Rośliny do biura – jak wpłynąć na wydajność pracowników za pomocą zieleni</h3>
                                       <span class="text-link">Więcej<span class="icon icon-next"></span></span>
                                   </div>
                                </a>
                            </div>
                            <div class="col-12 col-md-4">
                                <a href="post.html" class="section-slider-blog__item">
                                   <figure class="section-slider-blog__item__img" style="background-image: url('img/blog/ergonomisc-at-workplace.jpeg');"></figure> 
                                   <div class="section-slider-blog__item__content">
                                       <time>11.11.2018</time>
                                       <h3 class="section-slider-blog__item__content__title">Jakie kolory do biura wybrać, aby zwiększyć kreatywność pracowników?</h3>
                                       <span class="text-link">Więcej<span class="icon icon-next"></span></span>
                                   </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section seperator -->
                <div class="container" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
                <section class="section-default section-slider-product" data-aos="fade-up" data-aos-delay="200">
                    <div class="container">
                        <header class="section-default-header">
                            <h2 class="section-heading-large">Poznaj nasz sklep internetowy</h2>
                            <a href="ofirmie.html" class="text-link text-link-icon--right">Przejdź do sklepu <span class="icon icon-next"></span></a>
                        </header>
                        <div class="owl-carousel sliderJS-product">
                            <div class="item">
                                <div class="section-slider-product__item">
                                   <figure class="section-slider-product__item__img">
                                       <img src="img/products/1.png" class="img-fluid" alt="">
                                   </figure>                                 
                                    <h3 class="section-slider-product__item__title">Fotel Biurowy Obrotowy EF-KB8922BS czarny - podstawa z polerowanego aluminium</h3>                  
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-product__item">
                                   <figure class="section-slider-product__item__img">
                                       <img src="img/products/2.png" class="img-fluid" alt="">
                                   </figure>                                   
                                    <h3 class="section-slider-product__item__title">COCO 4 fotel niebieski</h3>
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-product__item">
                                   <figure class="section-slider-product__item__img">
                                       <img src="img/products/3.png" class="img-fluid" alt="">
                                   </figure> 
                                    <h3 class="section-slider-product__item__title">Fotel Biurowy Obrotowy EF-KB8922BS szary - nylonowa podstawa</h3>
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-product__item">
                                   <figure class="section-slider-product__item__img">
                                       <img src="img/products/4.png" class="img-fluid" alt="">
                                   </figure> 
                                   <h3 class="section-slider-product__item__title">K300 krzesło tył - czarny, przód - popiel, stelaż - super grey</h3>
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-product__item">
                                   <figure class="section-slider-product__item__img">
                                       <img src="img/products/1.png" class="img-fluid" alt="">
                                   </figure>
                                   <h3 class="section-slider-product__item__title">MATRIX krzesło obrotowe czarny/różowy</h3>
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-product__item">
                                   <figure class="section-slider-product__item__img">
                                       <img src="img/products/1.png" class="img-fluid" alt="">
                                   </figure>                                 
                                    <h3 class="section-slider-product__item__title">Fotel Biurowy Obrotowy EF-KB8922BS czarny - podstawa z polerowanego aluminium</h3>                  
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-product__item">
                                   <figure class="section-slider-product__item__img">
                                       <img src="img/products/2.png" class="img-fluid" alt="">
                                   </figure>                                   
                                    <h3 class="section-slider-product__item__title">COCO 4 fotel niebieski</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section seperator -->
                <div class="container" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
                <aside class="section-default aside-offer" data-aos="fade-up" data-aos-delay="200">
                    <div class="container">
                        <div class="aside-offer__content">
                            <h3 class="small-section-heading">Zamów EFEKTowne meble<br> do Twojego biura</h3>
                            <a href="oferta.html" class="btn-main btn-main--icon-right">Przejdź do oferty<span class="icon icon-next"></span></a>
                        </div>
                    </div>
                </aside>
                <!-- section seperator -->
                <div class="container d-none-lg" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
            </main>
            
            <footer class="footer-main">
                <!-- partial:views/_footer.html -->
                <!-- partial -->
            </footer>
 

        <!-- partial:views/_scripts.html -->
        <!-- partial -->

    </body>
</html>
