<!doctype html>
<html class="no-js" lang="pl">

    <!-- partial:views/_head.html -->
    <!-- partial -->

    <body>

            <header class="header-main header-main--blue fixed-top">
                <!-- partial:views/_header.html -->
                <!-- partial -->
            </header>

            <main class="main pt-0">
                <section class="section-default section-entry-main section-entry-main--contact   bg-blue">
                    <div class="container"> 
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-6" data-aos="fade-up" data-aos-delay="200">
                                <header class="section-entry-main__header">
                                    <h1 class="entry-heading">Kontakt</h1>
                                </header>
                            </div>
                            <div class="col-12 col-sm-6 col-md-5 offset-md-1 pr-lg-0" data-aos="fade-up" data-aos-delay="300">
                                <div class="section-text-col">
                                    <p class="text-section text-section--large">Nasza firma zlokalizowana jest w Głogowie. W razie jakichkolwiek pytań zapraszamy do kontaktu - jesteśmy do Państwa dospozycji</p>
                                </div>
                            </div>
                            <div class="col-12" data-aos="fade-up" data-aos-delay="400">
                                <span class="arrow-link arrow-link--white"><span class="icon icon-next"></span></span>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-default section-contact">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="section-contact__block" data-aos="fade-up" data-aos-delay="200">
                                    <h2 class="small-block-heading">EFEKT Meble Biurowe i Szkolne</h2>
                                    <div class="row">
                                    <div class="col-12 col-sm-4 col-md-4 col-xl-3">
                                        <address class="section-contact__block__content">
                                            <span class="text-section">ul. Galileusza 18</span>
                                            <span class="text-section">67-200 Głogów</span>
                                        </address>
                                    </div>
                                    <div class="col-12 col-sm-4 col-md-4 col-xl-3">
                                        <div class="section-contact__block__content">
                                            <span class="text-section">NIP: 6931012095</span>
                                            <span class="text-section">REGON: 390077233</span>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="section-contact__block" data-aos="fade-up" data-aos-delay="300">
                                    <h2 class="small-block-heading">Biuro</h2>
                                    <div class="row">
                                    <div class="col-12 col-sm-4 col-md-4 col-xl-3">
                                        <div class="section-contact__block__content">
                                            <a class="text-section" href="tel:76 832 10 28">76 832 10 28</a>
                                            <a class="text-section" href="mailto:efekt@efekt-meble.pl">efekt@efekt-meble.pl</a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4 col-md-4 col-xl-2">
                                        <div class="section-contact__block__content">
                                            <a class="text-section" href="tel:+48 501 677 990">+48 501 677 990</a>
                                            <a class="text-section" href="tel:+48 518 746 929">+48 518 746 929</a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4 col-md-4 col-xl-3">
                                        <div class="section-contact__block__content">
                                            <span class="text-section" >ul. Galileusza 18</span>
                                            <span class="text-section" >67-200 Głogów</span>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="section-contact__block" data-aos="fade-up" data-aos-delay="400">
                                    <h2 class="small-block-heading">Meble szkolne i przedszkolne</h2>
                                    <div class="row">
                                    <div class="col-12 col-md-4 col-xl-3">
                                        <div class="section-contact__block__content">
                                            <a class="text-section" href="tel:76 832 10 28">76 832 10 28</a>
                                            <a class="text-section" href="mailto:efekt@efekt-meble.pl">efekt@efekt-meble.pl</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="section-contact__block" data-aos="fade-up" data-aos-delay="500">
                                    <h2 class="small-block-heading">Salon firmowy</h2>
                                    <div class="row">
                                    <div class="col-12 col-sm-4 col-md-4 col-xl-3">
                                        <div class="section-contact__block__content">
                                            <a class="text-section" href="tel:76 832 10 28">76 832 10 28</a>
                                            <a class="text-section" href="mailto:efekt@efekt-meble.pl">efekt@efekt-meble.pl</a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4 col-md-4 col-xl-2">
                                        <div class="section-contact__block__content">
                                            <a class="text-section" href="tel:+48 501 677 990">+48 501 677 990</a>
                                            <a class="text-section" href="tel:+48 518 746 929">+48 518 746 929</a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4 col-md-4 col-xl-3">
                                        <div class="section-contact__block__content">
                                            <span class="text-section">Centrum Handlowym na oś.</span>
                                            <span class="text-section">Kopernika - I piętro</span>
                                            <span class="text-section">ul. Galileusza 18</span>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="section-contact__block" data-aos="fade-up" data-aos-delay="600">
                                    <h2 class="small-block-heading">Inspektor Ochrony Danych</h2>
                                    <div class="row">
                                    <div class="col-12 col-sm-4 col-md-4 col-xl-3">
                                        <div class="section-contact__block__content">
                                            <span class="text-section">Tomasz Wadas</span>
                                            <a class="text-section" href="mailto:+48 509 737 586">+48 509 737 586</a>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section seperator -->
                <div class="container" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
                <section class="section-default section-contact-form" data-aos="fade-up" data-aos-delay="200">
                    <div class="container">
                        <h2 class="section-heading-large">Formularz kontaktowy</h2>
                        <form action="#" id="contactForm">
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="small-block-heading">Moje dane:</h3>
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-lg-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="fieldText" name="name" placeholder="Imię / Nazwa firmy*">
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-3">
                                            <div class="form-group">
                                                <input type="email" class="form-control" id="fieldEmail" name="email" placeholder="E-mail*">
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="fieldPlace" name="place" placeholder="Miejscowość">
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="fieldPhone" name="phone" placeholder="Telefon*">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-bottom-form">
                                        <div class="col-12 col-lg-6">
                                            <h3 class="small-block-heading">Wiadomość:</h3>
                                            <div class="form-group">
                                                <textarea name="message" class="form-control" name="message" placeholder="Opisz swoje pytanie lub problem które masz…"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <h3 class="small-block-heading">Zgody</h3>
                                            <div class="content-form">
                                                <div class="checkbox">
                                                    <input type="checkbox" id="checkbox" name="approval_1" class="checkbox__input">
                                                    <label for="checkbox" class="checkbox__label">Zgadzam się na przetwarzanie moich danych osobowych podanych przeze mnie powyżej w celu przygotowania stosownej odpowiedzi lub oferty. Oświadczam, że zapoznałam/em się z treścią klauzuli informacyjnej dotyczącej przetwarzania moich danych osobowych, na co wyrażam zgodę.*</label>
                                                </div>
                                            </div>
                                            <div class="content-form form-recaptcha pb-0">
                                                <div class="g-recaptcha" data-sitekey="6LfllX4UAAAAAH2esBp4RVdYdwOQrzP0rIVK3Eyx"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 form-submit">
                                            <button type="submit" class="btn-main btn-main--icon-right">Wyślij wiadomość <span class="icon icon-next"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
                <section class="section-default section-img-skew" data-aos="fade-up" data-aos-delay="200">
                    <div class="container">
                        <figure class="section-img-skew-left skew-no-img">
                            <div><img src="img/logo/logo_efekt_meble.svg" class="img-fluid" alt=""></div>
                        </figure>
                        <figure class="section-img-skew-right">
                            <div style="background-image: url('img/headquartes.jpg');"></div>
                        </figure>
                    </div>
                </section>
                <section class="section-default section-contact-map" data-aos="fade-up" data-aos-delay="200">
                    <div class="container">
                        <header class="section-default-header">
                            <h2 class="section-heading-large">Dojazd</h2> 
                            <a href="#" class="text-link text-link-icon--right">Zaplanuj dojazd <span class="icon icon-next"></span></a>
                        </header>
                    </div>
                    <div class="map" id="map"></div>
                </section>
            </main>
            
            <footer class="footer-main">
                <!-- partial:views/_footer.html -->
                <!-- partial -->
            </footer>
 

        <!-- partial:views/_scripts.html -->
        <!-- partial -->
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJa2bEsVAueGRBeMQ0iVKMjyIxbQyvDVM"></script>
        <script type="text/javascript" src="js/map.js"></script>
        <script src="js/jquery.validate.js"></script>

         <script>
             $("#contactForm").validate({
                 ignore: ':hidden:not(:checkbox)',

                 errorClass: "text-error",
                 rules: {
                 name: "required",
                 phone: "required",
                 message: "required",
              
     approval_1: "required",
           
                 email: {
                 required: true,
                 email: true
                 }
               },
               messages: {
                 name: "Pole wymagane",
                 phone: "Pole wymagane",
                 message: "Pole wymagane",
               
                    approval_1: "Pole wymagane",
            
                 email: {
                   required: "Nie podałeś adresu e-mail",
                   email: "Błędny format"
                 }
               }
             });

         </script>
    </body>
</html>
