<!doctype html>
<html class="no-js" lang="pl">

    <!-- partial:views/_head.html -->
    <!-- partial -->

    <body>

            <header class="header-main header-main--blue fixed-top">
                <!-- partial:views/_header.html -->
                <!-- partial -->
            </header>

            <main class="main pt-0">
                <section class="section-default section-entry-main large-padding bg-blue">
                    <div class="container"> 
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-6" data-aos="fade-up" data-aos-delay="200">
                                <header class="section-entry-main__header">
                                    <h1 class="entry-heading">O firmie</h1>
                                </header>
                            </div>
                            <div class="col-12 col-sm-6 col-md-5 offset-md-1 pr-lg-0" data-aos="fade-up" data-aos-delay="300">
                                <div class="section-text-col">
                                    <p class="text-section">Od 2005 roku zajmujemy się dystrybucją i sprzedażą mebli oraz foteli biurowych. Dzięki ogromnemu zaangażowaniu naszych pracowników regularnie się rozwijamy. Od zawsze idziemy z duchem czasu, dlatego też stale rozwijamy naszą działalność. Aktualnie oferujemy nie tylko wygodne gabinetowe fotele i sofy, ale także ergonomiczne krzesła dla szkół i przedszkoli oraz funkcjonalne meble biurowe.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-default section-img-skew offset-section" data-aos="fade-up" data-aos-delay="200">
                    <div class="container">
                        <figure class="section-img-skew-left">
                            <div style="background-image: url('img/about-us.jpg');"></div>
                        </figure>
                        <figure class="section-img-skew-right">
                            <div style="background-image: url('img/about-us-two.jpg');"></div>
                        </figure>
                    </div>
                </section>
                <section class="section-default section-counter section-counter--brand">
                    <div class="container">
                        <div class="row" id="counterJs">
                            <div class="col-6 col-sm-6 col-md-3" data-aos="fade-up" data-aos-delay="200"> 
                                <div class="section-counter__item">
                                    <span class="number counter-item" data-count="13"></span>
                                    <p>lat doświadczenia<br> w dystrybucji i sprzedaży<br> mebli oraz foteli</p>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-3" data-aos="fade-up" data-aos-delay="300">
                                <div class="section-counter__item">
                                    <div class="counter-unit"><span class="number counter-item" data-count="56"></span><span class="c-unit">+</span></div>
                                    <p>Profesjonalnych realizacji<br> dla firm oraz instytucji<br> publicznych</p>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-3" data-aos="fade-up" data-aos-delay="400">
                                <div class="section-counter__item">
                                    <span class="number counter-item" data-count="1340"></span>
                                    <p>Najlepszych mebli i wyposażenia<br> w naszym sklepie</p>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-3" data-aos="fade-up" data-aos-delay="500">
                                <div class="section-counter__item">
                                    <span class="number counter-item" data-count="22"></span>
                                    <p>Wykwalifikowanych i<br> doświadczonych pracowników<br> służących Państwu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section seperator -->
                <div class="container" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <section class="section-default section-col-with-txt">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-5" data-aos="fade-up" data-aos-delay="200">
                                <div class="section-col-with-txt__content">
                                    <h2 class="section-heading">Nasze osiągniecia</h2>
                                    <p class="text-section">Naszym największym sukcesem jest zadowolenie klientów. W przeciągu kilku lat zdobyliśmy ogromną rzeszę stałych kontrahentów, którzy regularnie dokonują zakupu mebli biurowych, krzeseł szkolnych, a także stołów konferencyjnych. Co więcej, wielu klientów dzieli się pozytywnymi opiniami na temat sprawnej współpracy i korzystnej oferty, z którą mogą Państwo zapoznać się na naszej stronie internetowej.</p>
                                    <a href="#" class="btn-main btn-main--outline btn-main--icon-right">Nasze osiagniecia <span class="icon icon-next"></span></a>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-5 offset-md-2 offset-col" data-aos="fade-up" data-aos-delay="300">
                                <div class="section-col-with-txt__content">
                                    <h2 class="section-heading">Gwarantujemy satysfakcję</h2>
                                    <p class="text-section">Wszystkie oferowane przez nas usługi i produkty, takie jak meble i dodatki do biura, dostępne są w niewygórowanej cenie. W związku z tym, aranżacja wybranego przez Państwa wnętrza będzie korzystną inwestycją.</p>
                                    <p class="text-section">Co ważne, większość produktów posiada certyfikaty potwierdzające wysoką jakość ich wykonania. Naszym atutem jest także wykwalifikowana i doświadczona kadra pracowników, która dba o satysfakcję klienta na każdym etapie współpracy, począwszy od tworzenia projektu, aż do wykończenia wnętrza</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section seperator -->
                <div class="container" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
                <section class="section-default section-col-with-txt section-col-with-txt--bottom" >
                    <div class="container">
                        <div class="row align-items-sm-center">
                            <div class="col-12 col-sm-6 col-md-5" data-aos="fade-up" data-aos-delay="200">
                                <div class="section-col-with-txt__content">
                                    <h2 class="section-heading fw-bold">Nasz sklep internetowy<br> z meblami</h2>
                                    <a href="#" class="large-txt">www.efekt-style.pl</a>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-5 offset-md-2" data-aos="fade-up" data-aos-delay="300">
                                <div class="section-col-with-txt__content section-col-with-txt__content--bottom">
                                    <p class="text-section">Dla każdego klienta ważne jest, aby dokonywanie zakupów było bezpieczne. Nasza firma zapewnia kontrahentom prawo do zwrotu zakupionych towarów, a także kilkuletni okres gwarancji, na wypadek ewentualnych usterek. Ponadto, nasi klienci są objęci Programem Ochrony Kupujących PayU, dzięki czemu zakupy w sklepie internetowym są bezproblemowe.</p>
                                    <a href="#" class="text-link text-link-icon--right">Przejdź do sklepu <span class="icon icon-next"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section seperator -->
                <div class="container" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
                <aside class="section-default aside-offer" data-aos="fade-up" data-aos-delay="200">
                    <div class="container">
                        <div class="aside-offer__content">
                            <h3 class="small-section-heading">Zamów EFEKTowne meble<br> do Twojego biura</h3>
                            <a href="oferta.html" class="btn-main btn-main--icon-right">Przejdź do oferty<span class="icon icon-next"></span></a>
                        </div>
                    </div>
                </aside>
                <!-- section seperator -->
                <div class="container d-none-lg" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
            </main>
            
            <footer class="footer-main">
                <!-- partial:views/_footer.html -->
                <!-- partial -->
            </footer>
 

        <!-- partial:views/_scripts.html -->
        <!-- partial -->

    </body>
</html>
