<!doctype html>
<html class="no-js" lang="pl">

    <!-- partial:views/_head.html -->
    <!-- partial -->

    <body>

            <header class="header-main header-main--blue fixed-top">
                <!-- partial:views/_header.html -->
                <!-- partial -->
            </header>

            <main class="main pt-0">
                <section class="section-default section-entry-main large-padding bg-blue">
                    <div class="container"> 
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-6" data-aos="fade-up" data-aos-delay="200">
                                <header class="section-entry-main__header">
                                    <h1 class="entry-heading">Nasze osiągnięcia</h1>
                                </header>
                            </div>
                            <div class="col-12 col-sm-6 col-md-5 offset-md-1 pr-lg-0" data-aos="fade-up" data-aos-delay="300">
                                <div class="section-text-col">
                                    <p class="text-section">EFEKT Meble oferuje najwyższej jakości biurka i sofy do gabinetu, a także praktyczne szafki i krzesła szkolne. Główną działalnością firmy jest sprzedaż wygodnych mebli biurowych. Niemniej jednak, na potrzeby klientów zajmujemy się także aranżacją wnętrz. Od ponad 10 lat nasze meble cieszą się ogromnym zainteresowaniem dużych przedsiębiorstw.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-default section-img-skew offset-section" data-aos="fade-up" data-aos-delay="200">
                    <div class="container">
                        <figure class="section-img-skew-left">
                            <div style="background-image: url('img/our-achievements.jpeg');"></div>
                        </figure>
                        <figure class="section-img-skew-right">
                            <div style="background-image: url('img/our-achievements-two.jpeg');"></div>
                        </figure>
                    </div>
                </section>
                <section class="section-default section-col-with-txt">
                    <div class="container">
                        <div class="row">
                            <div class="col-12" data-aos="fade-up" data-aos-delay="200">
                                <div class="section-col-with-txt__content section-col-with-txt__content--one-col text-center">
                                    <p class="text-section text-section--large">Wieloletnie doświadczenie w branży pozwala nam spełniać oczekiwania nawet najbardziej wymagających kontrahentów. Zdecydowanie, naszym największym sukcesem są liczne referencje dotychczasowych klientów. Już dziś, możemy pochwalić się ogromną liczbą zaaranżowanych biur, która z dnia na dzień rośnie.</p>
                                </div>
                            </div>
                            <!-- section seperator -->
                            <div class="col-12" data-aos="fade-up" data-aos-delay="200">
                                <hr class="default-line">
                            </div>
                        </div>
                        <div class="row row-section-padding">
                            <!-- section seperator -->
                            <div class="col-12 col-sm-6 col-md-5" data-aos="fade-up" data-aos-delay="300">
                                <div class="section-col-with-txt__content">
                                    <h2 class="section-heading">Referencje</h2>
                                    <p class="text-section">Liczne referencje potwierdzają wysoką jakość prezentowanych w naszym sklepie foteli gabinetowych, komód czy kontenerów. Zapraszamy do przeczytania referencji dotychczasowych klientów.</p>
                                    <a href="#" class="btn-main btn-main--outline btn-main--icon-right">Zobacz referencję <span class="icon icon-next"></span></a>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-5 offset-md-2" data-aos="fade-up" data-aos-delay="400">
                                <div class="section-col-with-txt__content">
                                    <h2 class="section-heading">Realizacje</h2>
                                    <p class="text-section">Przedstawiamy kilka przykładowych realizacji, które z pewnością przekonają Państwa, iż dostępne w naszym sklepie meble są świetnym wyborem do biura, recepcji, sali konferencyjnej oraz gabinetu.</p>
                                    <a href="#" class="btn-main btn-main--outline btn-main--icon-right">Zobacz realizację <span class="icon icon-next"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section seperator -->
                <div class="container" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
                <section class="section-default section-slider-logo" data-aos="fade-up" data-aos-delay="200">
                    <div class="container">
                        <header class="section-default-header">
                            <h2 class="section-heading-large">Zaufali nam</h2>
                        </header>
                        <div class="section-slider-logo__content owl-carousel sliderLogo">
                            <div class="item">
                                <div class="section-slider-logo__item">
                                    <figure><img src="img/client_logo/pip.png" class="img-fluid" alt=""></figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-logo__item">
                                    <figure><img src="img/client_logo/Polish_police_logo.svg" class="img-fluid" alt=""></figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-logo__item">
                                    <figure><img src="img/client_logo/logo_ms.png" class="img-fluid" alt=""></figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-logo__item">
                                    <figure><img src="img/client_logo/logo-compensa.png" class="img-fluid" alt=""></figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-logo__item">
                                    <figure><img src="img/client_logo/Media-Markt-logo-color.png" class="img-fluid" alt=""></figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-logo__item">
                                    <figure><img src="img/client_logo/elektotim_ofc_luki.png" class="img-fluid" alt=""></figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-logo__item">
                                    <figure><img src="img/client_logo/logo-mercure.png" class="img-fluid" alt=""></figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-logo__item">
                                    <figure><img src="img/client_logo/Koleje_Mazowieckie-logo.svg" class="img-fluid" alt=""></figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="section-slider-logo__item">
                                    <figure><img src="img/client_logo/logo_kmpsp.png" class="img-fluid" alt=""></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section seperator -->
                <div class="container" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
                <aside class="section-default aside-offer" data-aos="fade-up" data-aos-delay="200">
                    <div class="container">
                        <div class="aside-offer__content">
                            <h3 class="small-section-heading">Zamów EFEKTowne meble<br> do Twojego biura</h3>
                            <a href="oferta.html" class="btn-main btn-main--icon-right">Przejdź do oferty<span class="icon icon-next"></span></a>
                        </div>
                    </div>
                </aside>
                <!-- section seperator -->
                <div class="container d-none-lg" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
            </main>
            
            <footer class="footer-main">
                <!-- partial:views/_footer.html -->
                <!-- partial -->
            </footer>
 

        <!-- partial:views/_scripts.html -->
        <!-- partial -->

    </body>
</html>
