<!doctype html>
<html class="no-js" lang="pl">

    <!-- partial:views/_head.html -->
    <!-- partial -->

    <body>

            <header class="header-main fixed-top">
                <!-- partial:views/_header.html -->
                <!-- partial -->
            </header>

            <main class="main pt-0">
                <section class="section-default section-entry-main section-entry-main--post">
                    <div class="container"> 
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12">
                                <header class="section-entry-main__header" data-aos="fade-up" data-aos-delay="200">
                                    <span class="post-category">Ergonomia</span>
                                    <h1 class="entry-heading">Ergonomia na stanowisku pracy – poznaj podstawowe zasady</h1>
                                    <time>4.12.2018</time>
                                </header>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-default section-img-skew" data-aos="fade-up" data-aos-delay="200">
                    <div class="container">
                        <figure class="section-img-skew-left">
                            <div style="background-image: url('img/ergonomics-at-work.jpeg');"></div>
                        </figure>
                        <figure class="section-img-skew-right">
                            <div style="background-image: url('img/furniture-offce-two.jpg');"></div>
                        </figure>
                    </div>
                </section>
                <article class="post-view" data-aos="fade-up" data-aos-delay="300">
                   <div class="container container-post">
                      <header class="post-view__header">
                        <h2 class="small-block-heading">Przyjazne biuro sprawia, że pracownicy chętnie przychodzą do firmy, są bardziej zrelaksowani i wydajni, co sprawia, że dobrze wykonują swoje obowiązki. Chcesz, aby zespół maksymalnie wykorzystywał czas pracy? Poznaj podstawowe zasady ergonomii i stwórz biuro przyjazne pracownikowi.</h2>
                        <div class="fb-content">  
                           <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                           </div>
                      </header>
                      <div class="post-view__content text-editor">
                        <h2>Ergonomiczne stanowisko pracy – zalety</h2>
                        <p>Zagwarantowanie pracownikom dogodnych warunków pracy bezpośrednio przekłada się na korzyści firmy. Ergonomiczne stanowiska to gwarancja:</p>
                        <ul>
                          <li><b>wyższej kreatywności</b> – nieodpowiednio zorganizowane stanowisko pracy nie sprzyja innowacyjnemu myśleniu, ponieważ pracownik, który czuje się niekomfortowo skupia się na przezwyciężeniu niewygody. To osłabia kreatywność i nowe pomysły,</li>
                          <li><b>skupienia</b> – wiele zajęć wymaga maksymalnego skupienia, a ergonomiczne stanowisko pozwala skoncentrować się na wykonywanych obowiązkach (to wpłynie na skrupulatność i jakość ich wykonania),</li>
                          <li><b>dobrego nastroju</b> – ergonomiczna przestrzeń biurowa poprawia samopoczucie pracowników, które jest niezbędne do budowy silnego i zmotywowanego zespołu,</li>
                          <li><b>zdrowia</b> – niewygodne krzesło i biurko, brak prawidłowego oświetlenia i nieodpowiedni rozkład mebli często są przyczyną dolegliwości ortopedycznych, wad wzroku, powodują stres i mogą prowadzić do stanów depresyjnych.</li>
                        </ul>
                        <h2>Zaprojektuj przyjazną przestrzeń do pracy</h2>
                          <p>Idealne biuro dla jednej osoby powinno mieć co najmniej 13 m2 (2 m2 wolnej podłogi). Pierwszym krokiem podczas projektowania biura przyjaznego pracownikowi jest odpowiednie wyposażenie stanowiska pracy. Zakup mebli biurowych, sprzętu i drobiazgów nie wystarczy, aby poszczególne pomieszczenia stały się ergonomicznym miejscem pracy, sprzyjającym skupieniu i kreatywności, bezpiecznym oraz funkcjonalnym.</p>
                          <p>Bardzo ważną zasadą jest zaprojektowanie rozkładu biura w taki sposób, aby najpotrzebniejsze materiały i narzędzia pracy znajdowały się najbliżej pracownika, który z nich korzysta. Zakup szafek na pomoce biurowe, szaf na segregatory i dokumenty oraz innych mebli do biura warto poprzedzić projektem przestrzeni. To pozwoli rozplanować rozkład mebli i sprzętu biurowego, zapewnić komfort pracy i uniknąć dolegliwości ortopedycznych (spowodowanych złą organizacją miejsca pracy oraz doborem mebli niedopasowanych do warunków psychofizycznych pracownika).</p>
                          <p>Biurko i krzesło powinny być ustawione w taki sposób, aby pracownik siedział przodem do drzwi, co zwiększy poczucie bezpieczeństwa.</p>
                          <h2>Jak wyposażyć stanowisko pracy?</h2>
                          <p>Podczas wielogodzinnej pracy biurowej, należy przyjmować prawidłową postawę, aby uniknąć bólów kręgosłupa, skurczy nóg oraz zwyrodnień. Bardzo ważne jest, aby biurko i krzesło obrotowe zostały dobrane do wzrostu i wagi użytkownika. W nowoczesnych fotelach biurowych można podnosić siedziska, profilować kąt oparcia. Ważne jest, aby pracownik dotykał nogami podłoża (dla niższych osób można zakupić specjalny podnóżek).</p>
                          <p>Prawidłowo dobrane biurko musi posiadać obszerny blat, na którym zmieszczą się narzędzia i pomoce biurowe. Ważne jest prawidłowe podparcie dla nadgarstków – podczas pisania na klawiaturze ręce powinny tworzyć kąt prosty (pomiędzy ramieniem i przedramieniem). Monitor musi znajdować się około 60-70 cm od oczu (większe monitory powinny być nieco dalej oddalone).</p>
                          <div class="fb-content">  
                              <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                          </div>
                          <div class="post-view__author">
                            <p>Pozdrawiam</p>
                            <p>Zespół EFEKT MEBLE</p>
                          </div>
                      </div>
                   </div>
                </article>
                <!-- section seperator -->
                <div class="container" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
                <section class="section-default section-slider-blog" data-aos="fade-up" data-aos-delay="200">
                    <div class="container container-no-p">
                        <header class="section-default-header">
                            <h2 class="section-heading">Przeczytaj również inne w kategorii „Ergonomia”</h2>
                        </header>
                        <div class="row owl-carousel sliderJS-blog">
                            <div class="col-12 col-md-4">
                                <a href="post.html" class="section-slider-blog__item">
                                   <figure class="section-slider-blog__item__img" style="background-image: url('img/blog/ergonomisc-at-workplace.jpeg');"></figure> 
                                   <div class="section-slider-blog__item__content">
                                       <time>11.11.2018</time>
                                       <h3 class="section-slider-blog__item__content__title">Ergonomia na stanowisku pracy – poznaj podstawowe zasady</h3>
                                       <span class="text-link">Więcej<span class="icon icon-next"></span></span>
                                   </div>
                                </a>
                            </div>
                            <div class="col-12 col-md-4">
                                <a href="post.html" class="section-slider-blog__item">
                                   <figure class="section-slider-blog__item__img" style="background-image: url('img/blog/our-achievements-two.jpeg');"></figure> 
                                   <div class="section-slider-blog__item__content">
                                       <time>11.11.2018</time>
                                       <h3 class="section-slider-blog__item__content__title">Rośliny do biura – jak wpłynąć na wydajność pracowników za pomocą zieleni</h3>
                                       <span class="text-link">Więcej<span class="icon icon-next"></span></span>
                                   </div>
                                </a>
                            </div>
                            <div class="col-12 col-md-4">
                                <a href="post.html" class="section-slider-blog__item">
                                   <figure class="section-slider-blog__item__img" style="background-image: url('img/blog/ergonomisc-at-workplace.jpeg');"></figure> 
                                   <div class="section-slider-blog__item__content">
                                       <time>11.11.2018</time>
                                       <h3 class="section-slider-blog__item__content__title">Jakie kolory do biura wybrać, aby zwiększyć kreatywność pracowników?</h3>
                                       <span class="text-link">Więcej<span class="icon icon-next"></span></span>
                                   </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section seperator -->
                <div class="container" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
                <!-- section seperator -->
                <aside class="section-default aside-offer" data-aos="fade-up" data-aos-delay="200">
                    <div class="container">
                        <div class="aside-offer__content">
                            <h3 class="small-section-heading">Zamów EFEKTowne meble do Twojego biura</h3>
                            <a href="wycena.html" class="btn-main btn-main--icon-right">Bezpłatna wycena<span class="icon icon-next"></span></a>
                        </div>
                    </div>
                </aside>
            </main>
            
            <footer class="footer-main">
                <!-- partial:views/_footer.html -->
                <!-- partial -->
            </footer>
 

        <!-- partial:views/_scripts.html -->
        <!-- partial -->
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/pl_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>

    </body>
</html>
