<!doctype html>
<html class="no-js" lang="pl">

    <!-- partial:views/_head.html -->
    <!-- partial -->

    <body>

            <header class="header-main fixed-top">
                <!-- partial:views/_header.html -->
                <!-- partial -->
            </header>

            <main class="main pt-0">
                <section class="section-default section-entry-main section-entry-main--reference">
                    <div class="container"> 
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-6" data-aos="fade-up" data-aos-delay="200">
                                <header class="section-entry-main__header">
                                    <h1 class="entry-heading">Referencje</h1>
                                    <p class="text-section">Najważniejszym celem naszej firmy jest zadowolenie klienta. Dlatego też, ogromnie cieszymy się czytając wszystkie pozytywne opinie na temat oferowanych przez nas usług. Do tej pory zdobyliśmy rzeszę stałych klientów, którzy regularnie dokonują zakupów mebli do biura oraz przedszkoli.</p>
                                    <p class="text-section">Liczne referencje potwierdzają wysoką jakość prezentowanych w naszym sklepie foteli gabinetowych, komód czy kontenerów. Co więcej, większość opinii utwierdza w przekonaniu, iż współpraca z Efekt Style była niezwykle korzystną inwestycją.</p>
                                </header>
                            </div>
                            <div class="col-12 col-sm-6 col-md-5 offset-md-1 pr-lg-0" data-aos="fade-up" data-aos-delay="300">
                                <div class="section-text-col offset-col-top">
                                    <p class="small-block-heading">Jeżeli zastanawiają się Państwo nad zakupem mebli do biura w naszym sklepie internetowym zapraszamy do przeczytania referencji dotychczasowych klientów.</p>
                                </div>
                            </div>
                            <div class="col-12" data-aos="fade-up" data-aos-delay="400">
                                <span class="arrow-link"><span class="icon icon-next"></span></span>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section seperator -->
                <section class="section-default section-slider-reference">
                    <div class="container">
                        <header class="section-default-header" data-aos="fade-up" data-aos-delay="200">
                            <h2 class="section-heading">Lista referencji</h2>
                            <a href="ofirmie.html" class="text-link text-link-icon--right">Zobacz wszystkie <span class="icon icon-next"></span></a>
                        </header>
                        <nav class="tab-nav" data-aos="fade-up" data-aos-delay="300">
                            <ul class="tab-nav__item tabNavSlider" id="tabNav">
                                <li id="all" class="active">Wszystkie</li>
                                <li id="cat1">PRZEDSIĘBIORSTWA</li>
                                <li id="cat2">SADY</li>
                                <li id="cat3">URZĘDY</li>
                            </ul>
                        </nav>
                        <div class="section-slider-reference__content sliderCarousel owl-carousel sliderReference" id="sliderCarousel">
                            <div class="item cat1 all" data-aos="fade-up" data-aos-delay="250">
                                <a href="#" class="section-slider-reference__content__item">
                                    <time>2017</time>
                                    <h3 class="section-slider-reference__content__item__title">Sąd Rejonowy dla Wrocław-Krzyków we Wrocławiu</h3>
                                    <span class="text-link text-link-icon--right">Pokaż więcej <span class="icon icon-next"></span></span>
                                </a>
                            </div>
                            <div class="item cat2 all" data-aos="fade-up" data-aos-delay="250">
                                <a href="#" class="section-slider-reference__content__item">
                                    <time>2017</time>
                                    <h3 class="section-slider-reference__content__item__title">Sąd Rejonowy dla Wrocław-Krzyków we Wrocławiu</h3>
                                    <span class="text-link text-link-icon--right">Pokaż więcej <span class="icon icon-next"></span></span>
                                </a>
                            </div>
                            <div class="item cat3 all" data-aos="fade-up" data-aos-delay="250">
                                <a href="#" class="section-slider-reference__content__item">
                                    <time>2017</time>
                                    <h3 class="section-slider-reference__content__item__title">Sąd Rejonowy dla Wrocław-Krzyków we Wrocławiu</h3>
                                    <span class="text-link text-link-icon--right">Pokaż więcej <span class="icon icon-next"></span></span>
                                </a>
                            </div>
                            <div class="item cat3 all" data-aos="fade-up" data-aos-delay="250">
                                <a href="#" class="section-slider-reference__content__item">
                                    <time>2017</time>
                                    <h3 class="section-slider-reference__content__item__title">Sąd Rejonowy dla Wrocław-Krzyków we Wrocławiu</h3>
                                    <span class="text-link text-link-icon--right">Pokaż więcej <span class="icon icon-next"></span></span>
                                </a>
                            </div>
                        </div>
                        <div id="projects-hidden" class="hide"></div>
                    </div>
                </section>
                <!-- section seperator -->
                <div class="container" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
                <aside class="section-default aside-offer" data-aos="fade-up" data-aos-delay="200">
                    <div class="container">
                        <div class="aside-offer__content">
                            <h3 class="small-section-heading">Zamów EFEKTowne meble<br> do Twojego biura</h3>
                            <a href="oferta.html" class="btn-main btn-main--icon-right">Przejdź do oferty<span class="icon icon-next"></span></a>
                        </div>
                    </div>
                </aside>
                <!-- section seperator -->
                <div class="container d-none-lg" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
            </main>
            
            <footer class="footer-main">
                <!-- partial:views/_footer.html -->
                <!-- partial -->
            </footer>
 

        <!-- partial:views/_scripts.html -->
        <!-- partial -->

    </body>
</html>
