<!doctype html>
<html class="no-js" lang="pl">

    <!-- partial:views/_head.html -->
    <!-- partial -->

    <body>

            <header class="header-main fixed-top">
                <!-- partial:views/_header.html -->
                <!-- partial -->
            </header>

            <main class="main pt-0">
                <section class="section-default section-reference-list">
                    <div class="container">
                        <header class="section-default-header" data-aos="fade-up" data-aos-delay="200">
                            <h2 class="entry-heading">Lista referencji</h2>
                        </header>
                        <nav class="tab-nav" data-aos="fade-up" data-aos-delay="300">
                            <ul class="tab-nav__item">
                                <li  data-content-class="content-all" class="active">Wszystkie</li>
                                <li  data-content-id="content-1">PRZEDSIĘBIORSTWA</li>
                                <li  data-content-id="content-2">SADY</li>
                                <li  data-content-id="content-3">URZĘDY</li>
                            </ul>
                        </nav>
                        <div class="section-reference-list__content gallery" data-aos="fade-up" data-aos-delay="200">
                            <div class="content-tab d-block" id="content-1">
                                <ul class="reference-list">
                                    <li>
                                        <a href="img/reference/PO ZIELONA GÓRA 18.05.09(1).jpg" class="reference-list__item" title="Sąd Rejonowy dla Wrocław-Krzyków we Wrocławiu">
                                            <span class="item-name">Sąd Rejonowy dla Wrocław-Krzyków we Wrocławiu</span>
                                            <img src="" data-caption-class="slide-caption" alt="">
                                            <span class="text-link text-link-icon--right">Wyświetl oryginał <span class="icon icon-next"></span></span>
                                        </a>

                                    </li>

                                    <li>
                                        <a href="img/reference/DCI Wałbrzych 22.03.2013.jpg" class="reference-list__item"  title="Przedsiębiorstow Wodociągów i Kanalizacji w Głogowie sp. z o.o.">
                                            <span class="item-name">Przedsiębiorstow Wodociągów i Kanalizacji w Głogowie sp. z o.o.</span>
                                            <span class="text-link text-link-icon--right">Wyświetl oryginał <span class="icon icon-next"></span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="img/reference/G3 GŁOGÓW 21.09.2011.jpg" class="reference-list__item" title="Sąd Rejonowy w Inowrocławiu">
                                            <span class="item-name">Sąd Rejonowy w Inowrocławiu</span>
                                            <span class="text-link text-link-icon--right">Wyświetl oryginał <span class="icon icon-next"></span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="img/reference/PO ZIELONA GÓRA 18.05.09(1).jpg" class="reference-list__item" title="Sąd rejonowy dla Wrocław-Krzyków we Wrocławiu">
                                            <span class="item-name">Sąd Rejonowy dla Wrocław-Krzyków we Wrocławiu</span>
                                            <span class="text-link text-link-icon--right">Wyświetl oryginał <span class="icon icon-next"></span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="img/reference/PO ZIELONA GÓRA 18.05.09(1).jpg" class="reference-list__item" title="Sąd rejonowy dla Wrocław-Krzyków we Wrocławiu">
                                            <span class="item-name">Sąd Rejonowy dla Wrocław-Krzyków we Wrocławiu</span>
                                            <span class="text-link text-link-icon--right">Wyświetl oryginał <span class="icon icon-next"></span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="img/reference/PO ZIELONA GÓRA 18.05.09(1).jpg" class="reference-list__item" title="Sąd rejonowy dla Wrocław-Krzyków we Wrocławiu">
                                            <span class="item-name">Sąd Rejonowy dla Wrocław-Krzyków we Wrocławiu</span>
                                            <span class="text-link text-link-icon--right">Wyświetl oryginał <span class="icon icon-next"></span></span>
                                        </a>
                                    </li>
                                                                        <li>
                                        <a href="img/reference/PO ZIELONA GÓRA 18.05.09(1).jpg" class="reference-list__item" title="Sąd rejonowy dla Wrocław-Krzyków we Wrocławiu">
                                            <span class="item-name">Sąd Rejonowy dla Wrocław-Krzyków we Wrocławiu</span>
                                            <span class="text-link text-link-icon--right">Wyświetl oryginał <span class="icon icon-next"></span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="img/reference/PO ZIELONA GÓRA 18.05.09(1).jpg" class="reference-list__item" title="Sąd rejonowy dla Wrocław-Krzyków we Wrocławiu">
                                            <span class="item-name">Sąd Rejonowy dla Wrocław-Krzyków we Wrocławiu</span>
                                            <span class="text-link text-link-icon--right">Wyświetl oryginał <span class="icon icon-next"></span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="img/reference/PO ZIELONA GÓRA 18.05.09(1).jpg" class="reference-list__item" title="Sąd rejonowy dla Wrocław-Krzyków we Wrocławiu">
                                            <span class="item-name">Sąd Rejonowy dla Wrocław-Krzyków we Wrocławiu</span>
                                            <span class="text-link text-link-icon--right">Wyświetl oryginał <span class="icon icon-next"></span></span>
                                        </a>
                                    </li>
                                </ul> 
                            </div>
                            <div class="content-tab" id="content-2">
                                <ul class="reference-list">
                                    <li>
                                        <a href="img/reference/PO ZIELONA GÓRA 18.05.09(1).jpg" class="reference-list__item" title="Sąd rejonowy dla Wrocław-Krzyków we Wrocławiu">
                                            <span class="item-name">Sąd Rejonowy dla Wrocław-Krzyków we Wrocławiu</span>
                                            <span class="text-link text-link-icon--right">Wyświetl oryginał <span class="icon icon-next"></span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="img/reference/PO ZIELONA GÓRA 18.05.09(1).jpg" class="reference-list__item" title="Sąd rejonowy dla Wrocław-Krzyków we Wrocławiu">
                                            <span class="item-name">Sąd Rejonowy dla Wrocław-Krzyków we Wrocławiu</span>
                                            <span class="text-link text-link-icon--right">Wyświetl oryginał <span class="icon icon-next"></span></span>
                                        </a>
                                    </li>
                                </ul> 
                            </div>  
                            <div class="content-tab" id="content-3">
                                <ul class="reference-list">
                                    <li>
                                        <a href="img/reference/PO ZIELONA GÓRA 18.05.09(1).jpg" class="reference-list__item" title="Sąd rejonowy dla Wrocław-Krzyków we Wrocławiu">
                                            <span class="item-name">Sąd Rejonowy dla Wrocław-Krzyków we Wrocławiu</span>
                                            <span class="text-link text-link-icon--right">Wyświetl oryginał <span class="icon icon-next"></span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="img/reference/PO ZIELONA GÓRA 18.05.09(1).jpg" class="reference-list__item" title="Sąd rejonowy dla Wrocław-Krzyków we Wrocławiu">
                                            <span class="item-name">Sąd Rejonowy dla Wrocław-Krzyków we Wrocławiu</span>
                                            <span class="text-link text-link-icon--right">Wyświetl oryginał <span class="icon icon-next"></span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="img/reference/PO ZIELONA GÓRA 18.05.09(1).jpg" class="reference-list__item" title="Sąd rejonowy dla Wrocław-Krzyków we Wrocławiu">
                                            <span class="item-name">Sąd Rejonowy dla Wrocław-Krzyków we Wrocławiu</span>
                                            <span class="text-link text-link-icon--right">Wyświetl oryginał <span class="icon icon-next"></span></span>
                                        </a>
                                    </li>
                                                                        <li>
                                        <a href="img/reference/PO ZIELONA GÓRA 18.05.09(1).jpg" class="reference-list__item" title="Sąd rejonowy dla Wrocław-Krzyków we Wrocławiu">
                                            <span class="item-name">Sąd Rejonowy dla Wrocław-Krzyków we Wrocławiu</span>
                                            <span class="text-link text-link-icon--right">Wyświetl oryginał <span class="icon icon-next"></span></span>
                                        </a>
                                    </li>
                                </ul> 
                            </div>  
                        </div>
                    </div>
                </section>
                <aside class="section-default aside-offer" data-aos="fade-up" data-aos-delay="200">
                    <div class="container">
                        <div class="aside-offer__content">
                            <h3 class="small-section-heading">Zamów EFEKTowne meble<br> do Twojego biura</h3>
                            <a href="oferta.html" class="btn-main btn-main--icon-right">Przejdź do oferty<span class="icon icon-next"></span></a>
                        </div>
                    </div>
                </aside>
                <!-- section seperator -->
                <div class="container d-none-lg" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
            </main>
            
            <footer class="footer-main">
                <!-- partial:views/_footer.html -->
                <!-- partial -->
            </footer>
 

        <!-- partial:views/_scripts.html -->
        <!-- partial -->

    </body>
</html>
