<!doctype html>
<html class="no-js" lang="pl">

    <!-- partial:views/_head.html -->
    <!-- partial -->

    <body>

            <header class="header-main fixed-top">
                <!-- partial:views/_header.html -->
                <!-- partial -->
            </header>

            <main class="main pt-0">
                <section class="section-default section-entry-main section-entry-main--valution">
                    <div class="container"> 
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-6" data-aos="fade-up" data-aos-delay="200">
                                <header class="section-entry-main__header">
                                    <h1 class="entry-heading">Bezpłatna wycena</h1>
                                </header>
                            </div>
                            <div class="col-12 col-sm-6 col-md-5 offset-md-1 pr-lg-0" data-aos="fade-up" data-aos-delay="300">
                                <div class="section-text-col offset-col-top">
                                    <p class="small-block-heading">Zachęcamy do wypełnienia poniższego formularza. Skontaktujemy się z Tobą w najkrótszym możliwym czasie.</p>
                                </div>
                            </div>
                            <div class="col-12" data-aos="fade-up" data-aos-delay="400">
                                <span class="arrow-link"><span class="icon icon-next"></span></span>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-default section-contact-form valution-section" data-aos="fade-up" data-aos-delay="200">
                    <div class="container">
                        <form action="#" id="contactForm">
                        <div class="section-default section-offer-variants">
                            <h3 class="small-block-heading" data-aos="fade-up" data-aos-delay="200">Jestem zainteresowany:</h3>
                                <div class="row m-0">
                                    <div class="col-12 col-xs-6 col-sm-6 col-md-3" data-aos="fade-up" data-aos-delay="200">
                                        <label for="radio_1" class="variant-item">
                                            <input type="radio" id="radio_1" name="radio" />
                                            <h3 class="variant-item__title">Usługi<br> projektowe</h3>
                                            <span class="text-link check-txt">Wybrano</span>
                                            <span class="text-link">Wybierz <span class="icon icon-next"></span></span>
                                        </label>
                                    </div>
                                    <div class="col-12 col-xs-6 col-sm-6 col-md-3" data-aos="fade-up" data-aos-delay="300">
                                        <label for="radio_2" class="variant-item">
                                            <input type="radio" id="radio_2" name="radio" />
                                            <h3 class="variant-item__title">Usługi<br> montażowe</h3>
                                            <span class="text-link check-txt">Wybrano</span>
                                            <span class="text-link">Wybierz <span class="icon icon-next"></span></span>
                                        </label>
                                    </div>
                                    <div class="col-12 col-xs-6 col-sm-6 col-md-3" data-aos="fade-up" data-aos-delay="400">
                                        <label for="radio_3" class="variant-item">
                                            <input type="radio" id="radio_3" name="radio" />
                                            <h3 class="variant-item__title">Wyposażenie<br> wnętrz</h3>
                                            <span class="text-link check-txt">Wybrano</span>
                                            <span class="text-link">Wybierz <span class="icon icon-next"></span></span>
                                        </label>
                                    </div>
                                    <div class="col-12 col-xs-6 col-sm-6 col-md-3" data-aos="fade-up" data-aos-delay="500">
                                        <label for="radio_4" class="variant-item">
                                            <input type="radio" id="radio_4" name="radio" />
                                            <h3 class="variant-item__title">Inne</h3>
                                            <span class="text-link check-txt">Wybrano</span>
                                            <span class="text-link">Wybierz <span class="icon icon-next"></span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-form">
                                <div class="col-12">
                                    <h3 class="small-block-heading">Moje dane:</h3>
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-lg-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="fieldText" name="name" placeholder="Imię / Nazwa firmy*">
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-3">
                                            <div class="form-group">
                                                <input type="email" class="form-control" id="fieldEmail" name="email" placeholder="E-mail*">
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="fieldPlace" name="place" placeholder="Miejscowość">
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="fieldPhone" name="phone" placeholder="Telefon*">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-bottom-form">
                                        <div class="col-12 col-lg-6">
                                            <h3 class="small-block-heading">Opisz szczegóły:</h3>
                                            <div class="form-group">
                                                <textarea name="message" class="form-control" name="message" placeholder="Opisz jakimi produktami lub usługami jesteś zaintertsoweny szczegółów (ilość, typ, wielkość biura, ilość stanowisk itp.)"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <h3 class="small-block-heading">Zgody</h3>
                                            <div class="content-form">
                                                <div class="checkbox">
                                                    <input type="checkbox" id="checkbox" name="approval_1" class="checkbox__input">
                                                    <label for="checkbox" class="checkbox__label">Zgadzam się na przetwarzanie moich danych osobowych podanych przeze mnie powyżej w celu przygotowania stosownej odpowiedzi lub oferty. Oświadczam, że zapoznałam/em się z treścią klauzuli informacyjnej dotyczącej przetwarzania moich danych osobowych, na co wyrażam zgodę.*</label>
                                                </div>
                                            </div>
                                            <div class="content-form form-recaptcha pb-0">
                                                <div class="g-recaptcha" data-sitekey="6LfllX4UAAAAAH2esBp4RVdYdwOQrzP0rIVK3Eyx"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 form-submit">
                                            <button type="submit" class="btn-main btn-main--icon-right">Wyślij zapytanie <span class="icon icon-next"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
                <!-- section seperator -->
                <div class="container" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
                <aside class="section-default aside-offer" data-aos="fade-up" data-aos-delay="200">
                    <div class="container">
                        <div class="aside-offer__content">
                            <h3 class="small-section-heading">Zamów EFEKTowne meble do Twojego biura</h3>
                            <a href="wycena.html" class="btn-main btn-main--icon-right">Bezpłatna wycena<span class="icon icon-next"></span></a>
                        </div>
                    </div>
                </aside>
                <!-- section seperator -->
                <div class="container d-none-lg" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
            </main>
            
            <footer class="footer-main">
                <!-- partial:views/_footer.html -->
                <!-- partial -->
            </footer>
 

        <!-- partial:views/_scripts.html -->
        <!-- partial -->
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJa2bEsVAueGRBeMQ0iVKMjyIxbQyvDVM"></script>
        <script src="js/jquery.validate.js"></script>

         <script>
             $("#contactForm").validate({
                 ignore: ':hidden:not(:checkbox)',

                 errorClass: "text-error",
                 rules: {
                 name: "required",
                 phone: "required",
                 message: "required",
              
     approval_1: "required",
           
                 email: {
                 required: true,
                 email: true
                 }
               },
               messages: {
                 name: "Pole wymagane",
                 phone: "Pole wymagane",
                 message: "Pole wymagane",
               
                    approval_1: "Pole wymagane",
            
                 email: {
                   required: "Nie podałeś adresu e-mail",
                   email: "Błędny format"
                 }
               }
             });

         </script>
    </body>
</html>
