// Rwd

$xs: 420px;

$sm: 576px;

$md: 768px;

$lg: 992px;

$xl: 1200px;

$xle: 1300px;

$xle-more: 1400px;

$xle-hd: 1650px;

$full-hd: 1890px;
// Colors

$native-color:#393C3E;
$native-hover: #275B84;
$native-hover-blue:#2b82c5;

// Buttons

$native-btn-bg: #2F2F2F;
$native-btn-color: #ffffff;


// Radius 

$native-radius: 4px;

// Colors

$color-scorpion: #5a5a5a;
$color-dove-gray:  #676767;
$color-mine-shaft:  #2F2F2F;
$color-gallery:#F0F0F0;
// Fonts

$font-base: "aktiv-grotesk",sans-serif; 
$font-base-size: 1.4rem;
$font-base-line: 2rem;
$font-weight-bold: 700;


$font-native-size-xle-hd: 2rem;
$font-line-size-xle-hd: 3.3rem;

$font-primary: "sofia-pro-soft",sans-serif; 
$letter-30: 0.3pt;
$letter--40-xs:-0.75pt;
$letter-40-xs:0.75pt;
$letter--30: -0.7pt;// -0.3pt;
$letter--50-xs: -1pt;//-1.8pt
$letter--50: -1.8pt;//-0.5pt
$letter-50: 1.3pt;//-0.5pt
$letter-20: 0.2pt;
$letter-25: 0.4px;
$letter-100:1pt;
$letter-10:0.1pt;
$letter--50S: -1.5pt;//-0.5pt